.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  margin: 2%;
  flex-grow: 1;
}

.card {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/803290/pexels-photo-803290.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  height: 150px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  text-align: center;
  justify-content: space-around;
  padding: 15px 5px;
  color: #FFFFFF;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

a {
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #20c997;
  text-decoration: none;
  background-color: transparent;
}
